<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <connectionStrings>
    <add name="DbContext.CarRentals" connectionString="Data Source=LEELAVINOTH\MSSQLSERVER2012;Initial Catalog=CarRentals;User ID=sa;Password=Welcome123" providerName="System.Data.SqlClient" />
    <add name="DbContext.SqlBus" connectionString="Data Source=LEELAVINOTH\MSSQLSERVER2012;Initial Catalog=CarRentals;User ID=sa;Password=Welcome123" providerName="System.Data.SqlClient" />
    <add name="DbContext.BlobStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=challenge2;AccountKey=o3V2w7pkUP3p0Zd3qzF36w/eEbFbX4t5CxfNZES14KPcqVm6DScIctCxmZD2ZffRQbJpxN4fN3Fe28fuDyu0Mg==" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>